In [2]:
import numpy as np
import pandas as pd

In [3]:
date = pd.read_csv("/Users/u1417772/Desktop/Cotiviti/ACDS/Dataset/Sruthica/dim_date.csv")
bridge = pd.read_csv("/Users/u1417772/Desktop/Cotiviti/ACDS/Dataset/Sruthica/bridge.csv")
claims = pd.read_csv("/Users/u1417772/Desktop/Cotiviti/ACDS/Dataset/Sruthica/dim_claims.csv")
priorauth = pd.read_csv("/Users/u1417772/Desktop/Cotiviti/ACDS/Dataset/Sruthica/dim_pa.csv")

In [4]:
date.head(5)

,dim_date_id,date_val,calendar_year,calendar_month,calendar_day,day_of_week,is_weekday,is_workday,is_holiday
0,1,2017-01-01,2017,1,1,1,0,0,1
1,2,2017-01-02,2017,1,2,2,1,0,0
2,3,2017-01-03,2017,1,3,3,1,1,0
3,4,2017-01-04,2017,1,4,4,1,1,0
4,5,2017-01-05,2017,1,5,5,1,1,0

In [5]:
bridge.head(5)

   dim_claim_id  dim_pa_id  dim_date_id
0             1        1.0            1
1             2        NaN            1
2             3        2.0            1
3             4        NaN            1
4             5        NaN            1

In [6]:
claims.head()

   dim_claim_id     bin drug  reject_code  pharmacy_claim_approved
0             1  417380    A         75.0                        0
1             2  999001    A          NaN                        1
2             3  417740    A         76.0                        0
3             4  999001    A          NaN                        1
4             5  417740    A          NaN                        1

In [7]:
priorauth.head()

,dim_pa_id,correct_diagnosis,tried_and_failed,contraindication,pa_approved
0,1,1,1,0,1
1,2,1,0,0,1
2,3,0,0,1,1
3,4,1,1,0,1
4,5,0,1,0,1

In [8]:
# There is no way to bridge all the columns
# dim_date_id is corrupted in bridge no way to map it to date and claims tables

In [9]:
bridge_claims = bridge.merge(claims, how='right',
                      left_on='dim_claim_id', 
                       right_on='dim_claim_id')

In [10]:
bridge_claims

,dim_claim_id,dim_pa_id,dim_date_id,bin,drug,reject_code,pharmacy_claim_approved
0,1,1.0,1,417380,A,75.0,0
1,2,NaN,1,999001,A,NaN,1
2,3,2.0,1,417740,A,76.0,0
3,4,NaN,1,999001,A,NaN,1
4,5,NaN,1,417740,A,NaN,1
...,...,...,...,...,...,...,...
1335571,1335572,555950.0,1095,417740,C,75.0,0
1335572,1335573,NaN,1095,999001,C,NaN,1
1335573,1335574,555951.0,1095,417380,C,70.0,0
1335574,1335575,NaN,1095,999001,C,NaN,1
1335575,1335576,NaN,1095,999001,C,NaN,1

In [31]:
df = bridge_claims.merge(priorauth, how = 'left', left_on = 'dim_pa_id', right_on = 'dim_pa_id')

In [12]:
df.head()

,dim_claim_id,dim_pa_id,dim_date_id,bin,drug,reject_code,pharmacy_claim_approved,correct_diagnosis,tried_and_failed,contraindication,pa_approved
0,1,1.0,1,417380,A,75.0,0,1.0,1.0,0.0,1.0
1,2,NaN,1,999001,A,NaN,1,NaN,NaN,NaN,NaN
2,3,2.0,1,417740,A,76.0,0,1.0,0.0,0.0,1.0
3,4,NaN,1,999001,A,NaN,1,NaN,NaN,NaN,NaN
4,5,NaN,1,417740,A,NaN,1,NaN,NaN,NaN,NaN

In [13]:
df['pa_approved'].value_counts()

1.0    408319
0.0    147632
Name: pa_approved, dtype: int64

In [14]:
df['reject_code'].value_counts()

70.0    252206
75.0    217351
76.0     86394
Name: reject_code, dtype: int64

In [15]:
df['bin'].value_counts()

999001    640740
417614    307323
417740    213982
417380    173531
Name: bin, dtype: int64

In [16]:
#Row Bais 
#Sample Selection Bais
# Research about case study with model bais due to bais sample out of the populaiton
#Correlation bais, Overfitting

#Why do economist have the fleibility to pick up dummy datasets?

In [17]:
#How to identify random na in rows
    # Do a T-test, mean, medians to check the distribution of the null values.
    
#Find different ways to deal with missing values.
#Threshold Drop

#Filling by regresssion for time series date because it can go back and predict values as per historical data

In [18]:
df.isnull().sum(axis = 0)

dim_claim_id                    0
dim_pa_id                  779625
dim_date_id                     0
bin                             0
drug                            0
reject_code                779625
pharmacy_claim_approved         0
correct_diagnosis          779625
tried_and_failed           779625
contraindication           779625
pa_approved                779625
dtype: int64

In [19]:
df.head()

,dim_claim_id,dim_pa_id,dim_date_id,bin,drug,reject_code,pharmacy_claim_approved,correct_diagnosis,tried_and_failed,contraindication,pa_approved
0,1,1.0,1,417380,A,75.0,0,1.0,1.0,0.0,1.0
1,2,NaN,1,999001,A,NaN,1,NaN,NaN,NaN,NaN
2,3,2.0,1,417740,A,76.0,0,1.0,0.0,0.0,1.0
3,4,NaN,1,999001,A,NaN,1,NaN,NaN,NaN,NaN
4,5,NaN,1,417740,A,NaN,1,NaN,NaN,NaN,NaN

In [20]:
y = df['pa_approved']

In [34]:
#df_X = df.drop('pa_approved', axis = 1)

df_X_rel = df.drop(['dim_date_id','dim_pa_id','contraindication','drug'], axis = 1)

In [35]:
df_X_rel.columns

Index(['dim_claim_id', 'bin', 'reject_code', 'pharmacy_claim_approved',
       'correct_diagnosis', 'tried_and_failed', 'pa_approved'],
      dtype='object')

In [37]:
df_X_rel.index

Int64Index([      0,       1,       2,       3,       4,       5,       6,
                  7,       8,       9,
            ...
            1335566, 1335567, 1335568, 1335569, 1335570, 1335571, 1335572,
            1335573, 1335574, 1335575],
           dtype='int64', length=1335576)

In [38]:
# DO Imputer here
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy="most_frequent")

imputer.fit(df_X_rel)

X_imp_simple = imputer.transform(df_X_rel)

In [39]:
df_X_Full = pd.DataFrame(X_imp_simple, columns = df_X_rel.columns, index =  df_X_rel.index)

In [45]:
df_X_Full['pa_approved'].value_counts()

1.0    1187944
0.0     147632
Name: pa_approved, dtype: int64

In [46]:
df_X_Full['bin'].value_counts()

999001.0    640740
417614.0    307323
417740.0    213982
417380.0    173531
Name: bin, dtype: int64

In [47]:
df_X_Full['reject_code'].value_counts()

70.0    1031831
75.0     217351
76.0      86394
Name: reject_code, dtype: int64

In [48]:
# this is incorrect because convert to numeric and then do correlation
#
df_sparse = pd.get_dummies(df_X_Full)

corr_matrix = df_sparse.corr()

corr_matrix['pa_approved'].sort_values(ascending = False)
#Then proceed to sparse matrix before converting parsing it on to a model.

pa_approved                1.000000
pharmacy_claim_approved    0.417462
tried_and_failed           0.343864
bin                        0.309754
correct_diagnosis          0.179512
reject_code                0.065106
dim_claim_id               0.002205
Name: pa_approved, dtype: float64

In [49]:
from sklearn.model_selection import StratifiedShuffleSplit

splits = StratifiedShuffleSplit(n_splits=5, test_size=0.2, random_state=42)

for train_index, test_index in splits.split(df_X_Full, df_X_Full['pa_approved']):
    print("!")

strat_train_set = df_X_Full.iloc[train_index]
strat_test_set = df_X_Full.iloc[test_index]

!
!
!
!
!

In [50]:
train = strat_train_set.copy()
test = strat_test_set.copy()

In [51]:
train.columns

Index(['dim_claim_id', 'bin', 'reject_code', 'pharmacy_claim_approved',
       'correct_diagnosis', 'tried_and_failed', 'pa_approved'],
      dtype='object')

In [53]:
train_X = train.drop('pa_approved', axis = 1)
test_X = test.drop('pa_approved', axis = 1)

train_y = train['pa_approved'].copy()
test_y = test['pa_approved'].copy()

In [ ]:
#No normalization or standardization required because its all categorical data

In [55]:
from sklearn.ensemble import RandomForestRegressor

forest_reg = RandomForestRegressor(n_estimators=100, 
                                   random_state =42, 
                                   max_depth = 20, 
                                   max_features = 'auto',
                                   bootstrap = True,
                                   max_samples = 0.9
                                  )

forest_reg.fit(train_X, train_y)
print("RandomForest R2 = ", forest_reg.score(train_X, train_y))

forest_reg.predict(train_X)

RandomForest R2 =  0.4864942086100573

array([1.        , 1.        , 0.99802424, ..., 1.        , 1.        ,
       1.        ])

In [57]:
pip install xgboost

Collecting xgboost
  Downloading xgboost-1.7.4-py3-none-macosx_10_15_x86_64.macosx_11_0_x86_64.macosx_12_0_x86_64.whl (1.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 5.5 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: scipy in /opt/anaconda3/lib/python3.9/site-packages (from xgboost) (1.7.3)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.9/site-packages (from xgboost) (1.21.5)
Installing collected packages: xgboost
Successfully installed xgboost-1.7.4
Note: you may need to restart the kernel to use updated packages.

In [59]:
import xgboost as xgb

clf = xgb.XGBClassifier()

# train the classifier on the training data
clf.fit(train_X, train_y)

pred_y = clf.predict(train_X)

In [60]:
from sklearn.metrics import accuracy_score

accuracy_score(train_y, pred_y)

0.9133444396608202